<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="DBConnectionString" value="Server=.;Database=DVLD;User ID=sa;Password=123456" />
		<add key="DVLDPeopleImagesPath" value="C:\DVLD People Images\"/>
		<add key="UserRememberMeRegistryPath" value="HKEY_CURRENT_USER\Software\DVLD"/>
	</appSettings>
</configuration>